* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

header {
    height: 120px;
    background-color: white;
}

#logo {
    height: 100px;
    margin: 10px;
}

#logo-text {
    display: inline-block;
    height: 120px;
    font-size: 70px;
    line-height: 120px;
    vertical-align: top;
    color: #051931;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 75%;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    padding-bottom: 40px;
    padding-top: 20px;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border-width: thin;
    border-color: silver;
}

#add-task {
    background-color: #47adf1;
    color: white;
}

#add-section {
    background-color: white;
    color: silver
}

#logo-container {
    display: inline-block;
}

.main-element {
    margin-top: 40px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 20px;
}

.tag {
    display: inline-block;
    padding: 7px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    margin-left: 10px;
}

.lightblue {
    background-color: #47adf1;
}

.purple {
    background-color: #9c72e4;
}

.green {
    background-color: #64c0a9;
}

.orange {
    background-color: #f29e33;
}

.pink {
    background-color: #d863a1;
}

.lightgreen {
    background-color: #b0c926;
}

.cross {
    color: red
}

.check {
    color: seagreen;
}

nav {
    border-bottom: 3px solid antiquewhite;
}

.main-list {
    padding-left: 50px;
}

.buttons {
    padding-left: 50px;
}